absl-py~=0.2
astor~=0.6
bleach~=1.5
gast~=0.2
grpcio~=1.12
h5py~=2.7
html5lib~=0.9999999
Keras~=2.1
Markdown~=2.6
numpy~=1.14
opencv-python~=3.4
pandas~=0.23
protobuf==3.5.2.post1
python-dateutil~=2.7
pytz~=2018.4
PyYAML~=3.12
scipy~=1.1
six~=1.11
tensorboard~=1.8
tensorflow~=1.8
termcolor~=1.1
Werkzeug~=0.14
